*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color:rgba(0, 0, 0, 0.977);
    color:aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 20px;
    border: 2px double rgba(255, 255, 255, 0.5);
    border-radius: 20px 2px 20px 20px
}
.form-control{
    background-color: aliceblue;
    font-weight: 600;
    color: black;
    margin: 0 5px;
}
h1{
    text-align: center;
}
label{
    margin: 10px;
    white-space: nowrap;
}
.upper {
    overflow: hidden;
    height: 60px;
    animation: 2s moveup 1s ease-in;
    display: fixed;
    
}
@keyframes moveup {
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(-500px)
    }
}
.lower{ 
   
    height: 55px;
    overflow: hidden;
    position: static;
    top:100px;
    animation: 2s movedown 1s ease-in;
    display: fixed;
    transform: rotate(180deg);
    margin-bottom: -100px;
}
@keyframes movedown {
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(500px)
    }
}
.rotate{
    transform: rotate(180deg);
}
.opening{
    text-align: center;
    font-size: 80px;
    
}

.info, .selector, .uploadinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    width: min(1000px);
    display: none;
}
.submitbutton{
   margin: 0 200px;
    width: 100px;
}